<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE settings SYSTEM "settings.dtd">
<settings>
  <property key="locale" value="en_US"/>
  <property key="viewStatusBar" value="true"/>
  <property key="viewToolBar" value="true"/>
  <property key="maxRecentFiles" value="10"/>
  <property key="recentFile" value="/home/moffitt/Development/LICS/res/gfx/font_opaque.bin"/>
  <property key="recentFile" value="/home/moffitt/Development/xtracker/res/font_8x8.bin"/>
  <property key="recentFile" value="/home/moffitt/Development/xtracker/res/font_8x16.bin"/>
  <property key="recentFile" value="/home/moffitt/Development/xtracker/sprite.bin"/>
  <property key="recentFile" value="/home/moffitt/Development/LICS/res/gfx/bg11.bin"/>
  <property key="recentFile" value="/home/moffitt/Development/LICS/res/gfx/bg13.bin"/>
  <property key="recentFile" value="/home/moffitt/Development/ssf2x_fix/ssf.13m.15m.17m.19m.combined"/>
  <property key="recentFile" value="/home/moffitt/Development/ssf2x_fix/ssf.14m.16m.18m.20m.combined"/>
  <property key="recentFile" value="/home/moffitt/Development/ssf2x_fix/ssf.15m"/>
  <property key="recentFile" value="/opt/toolchains/gen/m68k-elf/lib/libmd.a"/>
</settings>
